<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1.himaster">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>



    <application
        android:name=".kakaoLogin.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".BottombarActivity" />
        <activity android:name=".kakaoLogin.Kakao_LoginActivity" />
        <activity android:name=".kakaoLogin.KakaoSignupActivity" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity android:name=".InfoToBottom"/>
        <activity android:name=".MyInfo"/>
        <activity android:name=".DetailSchedule"/>
        <activity android:name=".DetailScheduleTest"/>
        <activity android:name=".num04_Main"/>
        <activity android:name=".num09_Main"/>
        <activity android:name=".num10_Main"/>
        <activity android:name=".num14_Main"/>
        <activity android:name=".num15_Main"/>
        <activity android:name=".num16_Main"/>
        <activity android:name=".num18_Main"/>
        <activity android:name=".num19_Main"/>
        <activity android:name=".num20_Main"/>
        <activity android:name=".num21_Main"/>
        <activity android:name=".Gps.GpsSearch"/>
        <activity android:name=".WeekWeather"/>
        <activity android:name=".SKPlanet.Tmap.RecommendPlaceMap"/>
        <activity android:name=".SKPlanet.Tmap.AddressActivity"/>
        <activity android:name=".SKPlanet.Tmap.MapActivity"/>
        <activity android:name=".Popup" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".Popup_emailchk" android:theme="@android:style/Theme.Dialog"/>
    </application>

</manifest>