<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1.himaster">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>



    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".num02_Main" />
        <activity android:name=".Kakao_LoginActivity" />
        <activity android:name=".KakaoSignupActivity" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity android:name=".num02_Schedule" />
        <activity android:name=".num03_Main"/>
        <activity android:name=".num03_ViewActivity"/>
        <activity android:name=".num04_Main"/>
        <activity android:name=".num05_Main"/>
        <activity android:name=".num06_Main"/>
        <activity android:name=".num09_Main"/>
        <activity android:name=".num10_Main"/>
        <activity android:name=".num13_Main"/>
        <activity android:name=".num14_Main"/>
        <activity android:name=".num15_Main"/>
        <activity android:name=".num16_Main"/>
        <activity android:name=".num18_Main"/>
        <activity android:name=".num19_Main"/>
        <activity android:name=".num20_Main"/>
        <activity android:name=".num21_Main"/>
        <activity android:name=".popup" android:theme="@android:style/Theme.Dialog"/>
    </application>

</manifest>